body{
	margin: 0;
	padding: 0;
}
.div_body{
	width:100%;
	height: auto;
}
header{
	width: 100%;
	height: 3rem;
	overflow: hidden;
	text-align: center;
}
.arrow{
	width:2rem;
	height:2rem;
	float: left;
	margin-left: 1rem;
	margin-top: 0.6rem;
}
.index_middle{
	display: inline-block;
	line-height: 3.0rem;
}
.index_middle span{
	font-size: 1.5rem;
	display: block;
}
.bg_bad{
	width:100%;
	height:30%;
}

.bg_bad img{
	width:40%;
	height: 20%;
	margin-top: 20%;
	margin-left: 30%;
}
.bg_bad p{
	font-size:1.3rem;
	text-align: center;
	margin-block-start: 0em;
}